@font-face {
    font-family: GothamBlack;
    src: url("gotham-black.otf") format("opentype");
}

@font-face {
    font-family: GothamLight;
    src: url(Gotham/gotham_light.otf) format("opentype");
}

@font-face {
    font-family: Brandon Grotesque;
    src: url(BrandonGrotesque-Bold/BrandonGrotesque-Bold.ttf) format("opentype");
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    white-space: nowrap;
}

/* navigation */
.navbar .container {
    height: inherit;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/*    img + menu */

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    white-space: nowrap;
}

/* only menu */

.navbar-menu li {
    display: inline-block;
    margin: 5px;
    padding: 20px 0;

}

.navbar-menu li a {
    display: inline-flex;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    opacity: .6;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.navbar-menu li a:hover {
    color: white;
    background-color: #ffbb42;
    opacity: 1;
}

.img_logo {
    padding-right: 250px;
}

body {
    line-height: 1.4;
    min-width: 50px;
    min-height: 150px;
    height: auto;
}

.content {
    height: 540px;
    width: 100%;
    background-color: #709dca;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 100px;
}

/* blue bg container */
.h1 {

    font-family: 'GothamBlack', arial;
    font-size: 1.8em;
}

/* BOOST UP YOUR LOCAL BUSINESS */
.h2 {
    font-weight: 100;
    font-family: 'GothamLight', arial;

}

/* text after BOOST UP YOUR LOCAL BUSINESS */

input {
    padding: 10px;
    margin: 2px;
    outline: none;
    margin-top: 30px;
}

.btn {
    background-color: #ffbb42;
    padding: 10px;
    color: white;
    font-size: 0.8em;
    padding: 10px 30px;
    outline: none;
    border: 1px;
    border-radius: 2px;
}

.btn:hover {
    opacity: .9;
    cursor: pointer;
}

input:hover {
    border: 1.5px solid rgba(0, 0, 0, 0.693);

}

/* 
/* input on blue bg style */

#img_2 {
    z-index: 1;
    position: absolute;
    left: 102px;
    top: 19px;
}

.laptop_image {
    position: absolute;
    top: -270px;
    left: 50%;
    transform: translateX(-50%);
}

.service {
    position: relative;
    padding-top: 109px;
    padding-bottom: 100px;
}

.service_heading {
    text-align: center;
    font-family: 'GothamBlack', arial;
    font-weight: 900;
    margin-top: 137px;
    color: #394b50;
}

.h1,
.service_heading {
    opacity: 95%;
    font-size: 1.4em;
    font-family: 'GothamBlack', arial;
    font-weight: 900;
    margin-top: 137px;
}

.table_service {
    margin: auto;
}

td {
    padding: 50px;
}

.appendix {
    margin-top: -5px;
    font-weight: 400;
    font-size: 0.8em;
    margin-bottom: 25px;
    font-family: 'GothamLight', sans-serif;
    opacity: 90%;
}

.service_heading_choos {
    margin-bottom: -200px;
}

.main {
    color: #394b50;
    font-size: 0.8em;
    padding-bottom: 10px;
}

.text {
    color: #394b50;
    opacity: 70%;
    font-weight: 400;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

/* text after "our services" */
.service_1,
.service_2,
.service_3,
.service_4,
.service_5,
.service_6 {
    display: flex;
    align-items: flex-start;

}

.icon {
    padding: 0 30px;
    width: 100px;
}

.icon_6 {
    width: 30px;
    margin: 0 35px;
}


.about_us {

    display: flex;
    justify-content: center;
}

.text_about {
    color: white;
    margin-bottom: 15px;
    margin-left: -358px;
}

.images_block {
    display: flex;
}

.orange {
    background-image: url('img/Rectangle 5.png');
    width: 850px;
}

.about_us_text {
    margin-top: 150px;
    margin-left: 100px;
    width: 470px;
    color: white;
    font-size: 0.9em;
    line-height: 1.8;
    top: 0px;

}

.btn_orange {
    background-color: #ffc155;
    border: 2px solid;
    border-color: #e7ad48;
    margin-top: 33px;
    margin-left: 100px;
    padding: 17px 33px 19px 32px;
    display: inline-block;
}

.btn_orange:hover {
    opacity: .7;
    cursor: pointer;
}

.service {
    margin-top: -20px;
}

.block_1,
.block_2,
.block_3 {
    display: flex;
    flex-direction: column;

}

.block_1 {
    background-color: white;
    color: #818b95;
    width: 388px;

}

.block_2 {
    background-color: #709dca;
    width: 391px;
}

.block_3 {
    background-color: white;
    color: #818b95;
    width: 388px;
}

.blocks {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #c2e1ff;
    margin-top: 233px;
    margin-bottom: 164px;
}


.choos {
    background-color: #e7edf3;
    padding: 16px 21px;
}

.line {
    width: 320px;
    margin: auto;
    background-color: #8eb8e2;
    opacity: .3;
}

.string {
    color: #e2e9f0;
    width: 320px;
    margin: auto;
}

.price {
    font-family: 'Lato', sans-serif;

}

.white {
    font-family: 'Lato', sans-serif;
    color: white;
    opacity: .9;

}

.opacity {
    opacity: .8;
}

.opacity_3 {
    opacity: .5;
}

.dollar {
    margin-top: 20px;
}

.price_dollar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.lato {
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
}

.bn {
    padding-top: 87px;
}

.bl {
    padding-top: 57px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.btn_center {
    margin: auto;
    border: 0;
}

.margin_btn {
    margin-top: 38px;
    margin-bottom: 48px;
}

.steps {
    display: flex;

    justify-content: center;
    text-align: center;

}

.icon_step {
    text-align: center;
    vertical-align: middle;

}

.bold {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 60px;
    text-align: center;
    vertical-align: middle;
}

.medium {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 50px;
}

.icon_step_1 {
    height: 45px;
}

.icon_step_2 {
    height: 45px;
}

.icon_step_3 {
    height: 45px;
}

.icon_step_4 {
    height: 45px;
}

.brn_get_started {
    margin: auto;
    display: block;
    padding: 17px 27px 19px 28px;
    cursor: pointer;
}

.margin_btn_1 {
    margin-top: 40px;
    margin-bottom: 149px;
}

.bg_orange {
    background-color: #ffc155;
}

.white_gotham {
    color: white;
    padding-top: 141px;
}

.div_grid {
    background-color: #ffc155;
    display: grid;
    grid-template-columns: 500px 500px;
    margin: auto;
    width: 996px;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 15px;

}

.div_flex {
    padding: 33px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: sans-serif;
}

.quotation {
    font-family: Brandon Grotesque;

}

.clients {
    background-color: #ffc155;
    padding-bottom: 160px;
}

.img_width {
    width: 128px;
    height: 100px;
}

.locator {
    margin-top: -45px;
}

.rotate {
    transform: rotate(180deg);
    margin-top: -23px;
    padding-bottom: 58px;
    height: 144px;
}

.img_round {
    padding: 0px 25px 24px 0px;
}

.center {
   text-align: center;
  }
