html {
    height: 100%;
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* @media (min-width: 1200px) { /* стиль имеет смысл, когда ширина экрана больше 1200px, к тому же не нужно придумывать решения для IE7 и ниже */ 
        .full-screen {
          width: 50vw;
          margin-left: 50%;
        }
        .full-screen > div {
          width: 100vw; /* включает в себя полосу прокрутки от body */ 
          margin-left: -100%;
        }
      } */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	position: relative;
    white-space: nowrap;
}
.navbar .container{
   height: inherit;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;

}
.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    white-space: nowrap;
    

}
.navbar-menu li {
    display: inline-block;
    margin: 5px;
    padding: 20px 0;
    
}
.navbar-menu li a {
    display: inline-flex;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    opacity: .6;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}
.navbar-menu li a:hover {
   color: white;
   background-color: #ffbb42;
   opacity: 1;
}
.img_logo {
    padding-right: 130px;
}
body {
   line-height: 1.4;
   min-width: 50px;
   min-height: 150px;
   height: auto;
}
.content {
    height: 540px;
    width: 100%;
    background-color: #709dca;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 100px;
}
.h1 {
    font-weight: 900;
    font-size: 1.8em;
}
.h2 {
    font-weight: 100;
   
}